<section>
  <div class="container-fluid bg-primary">
    <div class="row justify-content-center pt-3">
      <a href="mailto: 5cubsphotography@gmail.com" target="_blank">
        <i class="far fa-envelope fa-1x w-100 text-dark m-2"></i>
      </a>
      <a href="https://www.instagram.com/fivecubsphotography/" target="_blank">
        <i class="fab fa-instagram fa-1x w-100 text-dark m-2"></i>
      </a>
      <a href="https://www.facebook.com/fivecubsphotography/" target="_blank">
        <i class="fab fa-facebook-f fa-1x w-100 text-dark m-2"></i>
      </a>
    </div>
    <div class="row justify-content-center">
      <p class="mb-1">Hannah Harris | 5CubsPhotography</p>
    </div>
    <div class="row justify-content-center">
      <p class="mb-3">Operating Out of Barberton, Ohio</p>
    </div>
  </div>
</section>
