.menuMargin {
    margin-right: 100px;
}

.logoMargin {
    margin-left: 100px;
}

@media only screen and (max-width: 1000px) {
    .menuMargin {
        margin-right: 40px;
    }
    
    .logoMargin {
        margin-left: 40px;
    }
  } 

  @media only screen and (max-width: 500px) {
    .menuMargin {
        margin-right: 0px;
    }
    
    .logoMargin {
        margin-left: 0px;
    }

    .navbar-brand {
        margin-right: 0px;
    }
  }

