<section>
  <div class="heroImage jumbotron-fluid mb-0">
    <div class="container-fluid"></div>
  </div>
</section>

<section>
  <div class="container-fluid bg-primary pt-4 pb-4">
    <div class="row justify-content-center">
      <button
        type="button"
        [routerLink]="['/book']"
        class="btn-xlg btn-secondary"
      >
        Book Now!
      </button>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12 text-center mt-4">
        <a href="mailto: 5cubsphotography@gmail.com" target="_blank">
          <i class="far fa-envelope fa-4x w-100 text-dark mb-3"></i>
          <a
            href="mailto: 5cubsphotography@gmail.com"
            class="text-dark"
            target="_blank"
            >5cubsphotography@gmail.com</a
          ></a
        >
      </div>
      <div class="col-md-4 col-sm-12 text-center mt-4">
        <a
          href="https://www.instagram.com/fivecubsphotography/"
          target="_blank"
        >
          <i class="fab fa-instagram fa-4x w-100 text-dark mb-3"></i>
          <a
            href="https://www.instagram.com/fivecubsphotography/"
            class="text-dark"
            target="_blank"
            >Follow us on Instagram</a
          >
        </a>
      </div>
      <div class="col-md-4 col-sm-12 text-center mt-4">
        <a href="https://www.facebook.com/fivecubsphotography/" target="_blank">
          <i class="fab fa-facebook-f fa-4x w-100 text-dark mb-3"></i>
          <a
            href="https://www.facebook.com/fivecubsphotography/"
            class="text-dark"
            target="_blank"
            >Find us on Facebook</a
          >
        </a>
      </div>
    </div>
  </div>
</section>

<section class="bg-primary">
  <div class="container-fluid pl-0 pr-0">
    <ngx-gallery
      *ngIf="!error"
      class="grayScaleImages"
      [options]="galleryOptions"
      [images]="galleryImages"
    ></ngx-gallery>
  </div>
  <div *ngIf="error" class="container">
    <p>
      <strong
        >It looks like an error occured when trying to get the images. Please
        try again later.</strong
      >
    </p>
  </div>
</section>
